<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/axios.min.js"></script>
    <script src="lib/vue.js"></script>
    <script src="js/login.js"></script>

</head>
<body>
<div id="app">
    <Login v-bind:options="loginOptions"  color="green" v-on:login_success="loginOk"></Login>

    <ul v-if="logined">
        <li v-for="mail of mailList">{{mail.title}}</li>
    </ul>

</div>

<script>

    let vue = new Vue({
        el: '#app',
        data: {
            loginOptions: {
                LoginName: 'Login Name',
                Password: 'Password',
            },
            logined: false,
            mailList: [
                {title: '工资已到账'},
                {title: '录取通知offer'},
            ]
        },
        methods: {
            loginOk() {
                this.logined = true;
            }
        }
    });
</script>
</body>
</html>
